a {
    text-decoration: underline;
}
body {
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    margin: 5em auto;
}
#type {
    background-color: white;
    border: 1px solid #999;
    font-family: Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 14pt;
    min-height: 10em;
    padding: 10px;
    white-space: pre-wrap;
}
#type .overlay {
    font-size: 32pt;
    margin-top: 1em;
    text-align: center;
}
#type .cursor {
    animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
    background-color: black;
    display: inline-block;
    height: 1em;
    margin-top: 2pt;
    position: absolute;
    width: 2px;
}
@keyframes blink {
    to { visibility: hidden; }
}
@-webkit-keyframes blink {
    to { visibility: hidden; }
}
#type .correct {
    color: black;
}
#type .incorrect {
    background-color: red;
    color: black;
}
#type .remaining {
    color: #999;
}
#type.completed {
    background-color: #cf9;
}
#type.completed .cursor,
#type.completed .incorrect,
#type.completed .remaining
{
    display: none;
}
#stats {
    background-color: #eee;
    padding: 1em;
}
#stats .stat {
    font-size: 10pt;
    font-weight: bold;
    text-align: center;
}
#stats .value {
    font-size: 14pt;
    text-align: center;
}
#stats .wpm-meter meter {
    margin-top: 2em;
    width: 100%;
}
#paragraphs {
    margin-top: 1em;
}
.layout {
    margin-top: 5em;
}
.layout .map {
    cursor: pointer;
    margin-left: 6em;
}
.layout .keyboard {
    color: #999;
    margin: 1em auto;
}
.layout .keyboard .row-1 {
    padding-left: 0.8em;
}
.layout .keyboard .row-2 {
    padding-left: 1.6em;
}
.layout .keyboard .key {
    margin: 0 0.25em;
    padding: 0 0.5em;
}
.layout .keyboard .home {
    background-color: #eee;
    border-radius: 10px;
    color: black;
}
.layout .keyboard .bump {
    text-decoration: underline;
}
