body {
    font-family: 'Ubuntu Mono', Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    font-size: 12pt;
}
header {
    background-color: #000;
}
header h1 {
    color: white;
    font-size: 1.25em;
    margin: 0.75em 0;
}
#widget {
    display: none;
    margin-bottom: 2em;
    margin-top: 3em;
}
.word-set {
    margin-top: 1em;
}
.word-set a {
    border-radius: 10px;
    padding: 0.25em 0.5em;
    text-decoration: underline;
}
.word-set a.active {
    background-color: #eee;
    color: black;
    text-decoration: none;
}
.type {
    background-color: white;
    border: 1px solid #777;
}
.type-box {
    min-height: 14em;
    padding: 10px;
    position: relative;
    white-space: pre-wrap;
}
.type-box .overlay {
    font-size: 2em;
    margin-top: 3em;
    text-align: center;
}
.type-box .correct,
.type-box .incorrect,
.type-box .remaining,
.type-box .cursor,
.type-box .results {
    font-size: 1.4em;
}
.type-box .correct {
    color: #ccc;
}
.type-box .incorrect {
    background-color: #d9534f;
    color: black;
}
.type-box .remaining {
    color: #777;
}
.type-box .cursor {
    animation: blink 1s steps(2, start) infinite;
    -moz-animation: blink 1s steps(2, start) infinite;
    -webkit-animation: blink 1s steps(2, start) infinite;
    background-color: black;
    display: inline-block;
    height: 1em;
    margin-top: 0.2em;
    position: absolute;
    width: 2px;
}
.score-box {
    background-color: #d9edf7;
    margin: 0.5em;
    padding: 0.5em;
    text-align: center;
}
.stats {
    background-color: #eee;
    border-radius: 0 0 10px 10px;
    padding-bottom: 1em;
    padding-top: 1em;
}
.stats .stat {
    text-align: center;
}
.stats .value {
    font-size: 1.2em;
    text-align: center;
}
.nav-tabs {
    margin-top: 2em;
}
.tab-pane {
    padding-top: 2em;
}
.layouts .map {
    cursor: pointer;
    display: block;
}
.layouts .keyboard {
    color: #777;
    display: inline-block;
    margin: 1em auto;
    text-align: left;
}
.layouts .keyboard .row-1 {
    padding-left: 0.8em;
}
.layouts .keyboard .row-2 {
    padding-left: 1.6em;
}
.layouts .keyboard .key {
    border-radius: 10px;
    margin: 0 0.25em;
    padding: 0 0.5em;
}
.layouts .keyboard .key.home {
    background-color: #eee;
    color: black;
}
.layouts .keyboard .key.bump {
    text-decoration: underline;
}
.layouts .keyboard .key.next {
    background-color: #337ab7;
    color: white;
    -moz-transition-delay: 1s;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
label {
    font-weight: normal;
}

@keyframes blink {
    to {
        visibility: hidden;
    }
}
@-moz-keyframes blink {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink {
    to {
        visibility: hidden;
    }
}

/* Fix for IE */
wbr:after {
    content: '\00200B';
}
